<div class="modal-header">
    <h4 class="modal-title">Enter a username to join</h4>
</div>

<div class="modal-body">
    <form>
        <div class="form-group">
            <label class="control-label">Name</label>
            <input autofocus="autofocus" type="text" class="form-control" placeholder="Please enter a name." uib-popover="Please fill out this field." popover-is-open="name_popover" popover-trigger="none" ng-model="name">
        </div>
        <div class="form-group">
            <label class="control-label">Data science activity</label>
            <input type="text" class="form-control" placeholder="Please enter the type of data science activity that you are working on." uib-popover="Please fill out this field." popover-is-open="activity_popover" popover-trigger="none" ng-model="activity">
        </div>
        </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="save()">Join</button>
    </div></form>
</div>
